
/* <!-- avatar group --!> */
.avatar-group {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.avatar-group > li:not(:last-child) {
    margin-right: -0.8rem;
}
.avatar-group > li {
    position: relative;
}
.avatar-xs {
    height: 2.1875rem;
    width: 2.1875rem;
}
.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block !important;
}
.start-0 {
    left: 500 !important;
}

.bottom-0 {
    bottom: 6 !important;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.rounded-circle {
    border-radius: 50% !important;
}
li {
    text-align: -webkit-match-parent;
}

/*avater group end*/

/*trustpilot box*/
.top-0 {
    top: 50px !important;
}
.end-0 {
    right: 200px !important;
}
.card-body {
    -webkit-box-flex: -12;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.h-20px {
    height: 20px !important;
}
/*trustpilot box end*/
.pe-6 {
    padding-right: 2.5rem !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

/*about strat*/
.col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.666667%;
    
}
.col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.333333%;
}

.col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}
.mb-sm-0 {
    margin-bottom: 0 !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.pe-xl-5 {
    padding-right: 1.5rem !important;
}


.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.rounded-circle {
    border-radius: 50% !important;
}


.rounded-circle {
    border-radius: 55% !important;
}

.mt-n5 {
    margin-top: -2.5rem !important;
}
.mb-4 {
    margin-bottom: 1.6rem !important;
}

.fa-fw {
    text-align: center;
    width: 2.25em;
}
.fs-5 {
    font-size: calc(1.275rem + 0.3vw) !important;
}
.santo{
    background-color: brown;
}

.rounded {
    border-radius: var(--bs-border-radius) !important;
}









