.marginT10 {
    margin-top: 10px !important;
}

.bgWhite {
    background-color: white;
}

.desktopHeaderLogoLeftDiv {
    margin-top: 15px;
    text-align: left;
}
.desktopHeaderLogoLeftDiv  {
    font-size: 0.8rem;
    color: #727679;
    font-weight: bold;
    cursor: pointer;
}
.colorBlack {
    color: #333 !important;
}
.desktopSearchIcon {
    vertical-align: middle;
    margin-top: 3px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
}
.desktopHeaderLogoLeftDiv .desktopTodayDate {
    font-weight: normal !important;
    cursor: text;
    margin-left: 10px;
}

.todaysDate {
    font-size: 1.6rem !important;
    margin-left: 20px !important;
    vertical-align: middle;
}
.desktopHeaderLogoRightDiv {
    margin-top: 5px;
    text-align: right;
    margin-bottom: 8px;
}




.desktopHeaderLogoRightDiv a {
    font-size: .9rem;
    color: #333;
    border: 1px solid #F1F1F1;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    padding: 2px 10px 0px 10px;
    border-radius: 7px;
    /* font-weight: bold; */
    text-decoration: none !important;
    margin-left: 5px;
}

.borderRadius0 {
    border-radius: 0px !important;
}
.text-right {
    text-align: right;
}
.topSocialIcon a:first-child {
    margin-left: 0px;
}
.topSocialIcon .fa-facebook {
    border: 1px solid #F1F1F1;
    color: #1b4a82;
}
.topSocialIcon .fa {
    padding: 9px 8px 8px 8px;
    font-size: 14px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    margin: 5px 1px;
    border-radius: 50%;
}

.topSocialIcon .fa-x-twitter {
    border: 1px solid #f1f1f1;
    color: #333000;
}

.topSocialIcon .fa-linkedin {
    border: 1px solid #F1F1F1;
    color: #003b5f;
}

.topSocialIcon .fa-instagram {
    border: 1px solid #F1F1F1;
    color: #8d1b75;
}
.topSocialIcon .fa-youtube {
    border: 1px solid #F1F1F1;
    color: #c30404;
}
.topSocialIcon .fa-youtube:hover {
    color: black;
}


.borderRadius0 {
    border-radius: 0px !important;
}

.navbar {
    min-height: unset;
    margin-bottom: 0px;
    border: none;
    /* padding: 10px 0px; */
    border-radius: 0px;
    box-shadow: 0 4px 8px -2px rgba(16, 24, 40, .1), 0 2px 4px -2px rgba(16, 24, 40, .06);
    background-color: white;
    box-shadow: 0 4px 8px -2px rgba(16, 24, 40, .1), 0 2px 4px -2px rgba(16, 24, 40, .06);
}
li{
    list-style: none;
    padding: 12px;
}
.my-lg-0 {
    margin-top: 25 !important;
    margin-bottom: 0 !important;
}

.latestbox{
    
    border: 1px solid #f1f1f1;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    padding: 10px;
    border-radius: 7px; 
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 62px;
    margin-right: -190px;
    height: 400px;

    overflow: auto;
    

}



  








